%li.scriptItem{:id => script.id}
    .scriptSummary
        .scriptHandle |||
        .scriptSize
            %span.scriptMinSize= script.minified_size/1024
            \/
            %span.scriptOriginalSize #{script.original_size/1024}
            kb
        %span.scriptName= script.name
    
    .scriptDetail
        %a.viewScript{:href=>"/script/#{script.id}"} Source
        %a.deleteScript{:href=>"/scripts/delete/#{script.id}"} Remove 
