%li.scriptItem{:id => script.id}
    .scriptSummary
        .scriptHandle |||
        .scriptSize
            %span.scriptMinSize= script.minified_size/1024
            \/
            %span.scriptOriginalSize #{script.original_size/1024}
            kb
        %span.scriptName= script.name
        %span.scriptTags= script.tags.join(', ')
    
    .scriptDetail
        %table
            %tbody
                %tr
                    %td.scriptEditField
                        Filename 
                    %td
                        %input.scriptNameEdit{:type=>:text, :value => script.name}
                %tr
                    %td.scriptEditField
                        Tags 
                    %td
                        %input.scriptTagsEdit{:id=>"tagsEdit-#{script.id}", :type=>:text, :value => script.tags.join(', ')}
                %tr
                    %td.scriptEditField
                    %td
                        %a.viewScript{:href=>"/script/#{script.id}"} Code 
                        %a.deleteScript{:href=>"/scripts/delete/#{script.id}"} Remove 
                        

