#editor
    #sidebar
        - if !@stack.published
            %h4 Getting Started
            %ol
                %li Add a title to this stack.
                %li Add a script or two. 
                %li Click and drag the scripts to the same order they should be loaded in the browser.

            #publishWrap
                %h4 Ready?
                %p Hit publish below.  Don't worry, you'll have all the same editing options once published.
                %a#stackPublish{:href=>'/stacks/publish'} Publish

        - else
            #download
                %h4 Download this Stack:
                %a#minified.dl{:href=>"/stacks/#{@stack.id}.min.js", :target=>"_blank"}
                    Minified 
                    %span.desc 
                        (
                        %span.stackMinSize #{@stack.minified_size/1024}
                        kb)

                %a#raw.dl{:href=>"/stacks/#{@stack.id}.js", :target=>"_blank"} 
                    Raw 
                    %span.desc 
                        (
                        %span.stackOriginalSize #{@stack.original_size/1024} 
                        kb)

    #builder
        - if @stack.title
            %h2#stackTitle= @stack.title
            %input{:type=>'hidden', :id=>'stackId', :value=>@stack.id}
        - else
            %h2#stackTitle.unedited Click here to edit this stack's title

        #stackSummary
            -if @stack.original_size && @stack.minified_size
                #stackSize
                    %span.stackMinSize= @stack.minified_size/1024
                    \/
                    %span.stackOriginalSize #{@stack.original_size/1024}
                    kb
                %span#numScripts #{@scripts.size}
                scripts

        %ul#scriptList
            - @scripts.each do |script|
                = haml(:_script, :layout => false, :locals => {:script => script})


        #newScriptButton
            %span.newScriptPlus +
            Add script

        %form#newScript{:action=>"/script/new", :method=>"POST"}

            %h3 New Script
            %p#uploadInputWrap
                %input#uploadInput{:type=>'button', :value=>'Choose a file'}
                %strong Note: 
                Only unminified javascript (*.js) files should be uploaded.<br />  We'll take care of the minification for you!

            -#.clear
            -#%h3.or -or-
            -#%input#urlInput{:type=>'text', :title=>'Enter a URL to an unminified javascript (*.js) file here.'}

            -#%h3.or -or-
            -#%textarea#pasteInput{:title=> 'Paste your unminified script here.'}

            %input#newScriptSubmit{:type=>'button', :value=>"Submit"}
            %input#newScriptCancel{:type=>'button', :value=>"Cancel"}


-if @stack.id
    %script
        var active_stack = Stack.bootstrap(#{@stack.to_json});


%script{:src => '/js/jquery.beautyOfCode.js'}
%script{:src => '/js/ajaxupload.js'}
%script{:src => '/js/editor.js'}
